.site-footer {
  // padding: 1em 4em;
  padding-bottom: 0;
  border-bottom: 10px solid $color-yellow;
}

.footer-nav {
  display: flex;
  justify-content: space-between;

  .footer-col {
    .widget-title {
      margin: 5px 0;
      padding: 0;
    }

    ul {
      padding-left: 2px;
      margin: 0;

      li {
        list-style-type: none;
        line-height: 1.5em;
      }
    }

    &-last {
      width: 30%;
      text-align: right;

      a {
        @extend h3;
        color: $color-dark-blue;
        line-height: 2em;

        &:hover {
          color: $color-blue;
          box-shadow: inset 0 -4px 0 $color-blue;
        }
      }
    }
  }
}

.footer-info {
  margin-top: 1.5em;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  p, a {
    margin: 0;
    font-size: 15px;
  }

  #social-menu {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: .3em;
    }
  }
}
