.site-header {
  border-top: 6px solid $color-yellow;
  background-position: center;
  background-size: cover;

  // .nav-items {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 2em 6em;
  //
  //   .custom-logo {
  //     width: 150px;
  //     height: 150px;
  //   }
  //
  //   @media #{$large-and-down} {
  //     padding: 1em;
  //   }
  // }

  &-home {
    height: 100vh;
  }

  &-landing {
    height: 70vh;
  }
}
