.site-header {
  position: relative;
  border-top: 6px solid $color-yellow;
  background-position: center;
  background-size: cover;

  &-home {
    height: 100vh;
  }

  &-landing {
    height: 70vh;
  }
}

.page-header {
  padding: 1em 2em;
  position: absolute;
  bottom: 3em;
  width: 55%;
  right: 0;
  background: rgba($color-yellow, .9);

  h1, h3 {
    display: inline-block;
    vertical-align: middle;
  }
}

.home {
  .page-header {
    h1 {
      display: inline;
      text-transform: lowercase;
    }

    h3 {
      display: inline;
    }
  }
}
