.top-navigation {
	position: absolute;
	right: 4em;
	background: $color-yellow;
	padding: 5px 1.5em;

	li {
		display: inline-block;
		margin: 0 1em;

		a {
			color: $color-dark-blue;
			text-decoration: none;
			font-size: 18px;
			font-weight: $fontweight-regular;
		}
	}
}

.nav-container {
	background: rgba($color-white, .8);

	.nav-items {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		width: 100%;

		.custom-logo {
			margin: 5px 4em;
			height: 85px;
			width: auto;
		}

		.menu {
			margin: 0 4em .5em;

			li {
				display: inline-block;
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;

		a {
			margin-left: 1.5em;
			color: $color-dark-blue;
			text-decoration: none;
			font-weight: $fontweight-semibold;
		}
	}
}
