#breadcrumbs {
  margin: 4em 0 .5em 3.7em;
  font-size: 20px;

  a {
    color: $color-dark-blue;
    text-transform: lowercase;
    font-family: $font;

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb_last {
    color: $color-dark-blue;
    font-weight: $fontweight-semibold;
    text-transform: lowercase;
  }
}
