// Primary Colors
$color-yellow: #FFC601;
$color-blue: #1851C1;
$color-dark-blue: #0B2964;

// Accent Colors
$color-teal: #05CEAA;

// Secondary Colors
$color-sky: #A2DBE3;
$color-salmon: #FF3B3F;
$color-green: #4CCB14;
$color-lime: #c6ed17;

// Neutrals
$color-white: #FEFCFC;
$color-grey: #A9A9A9;
$color-black: #242323;
