$color-yellow: #FFC601;
$color-dark-blue: #0B2964;
$color-blue: lighten($color-dark-blue, 13%);
$color-light-blue: lighten($color-dark-blue, 25%);
$color-teal: #1AE4C0;
$color-teal-dark: darken($color-teal, 25%);
$color-black: #242323;
$color-white: #FEFCFC;
