body {
  font-family: $font;
  font-size: 18px;
  background: $color-white;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  // margin-bottom: 3em;

  @media (max-width: 1279px) {
    margin: 0 1em;
  }
}

nav ul {
  padding-left: 0;
  margin: 0;
}

.box-shadow {
  box-shadow: $box-shadow;
}
