h1 {
  color: $color-dark-blue;
  font-size: 35px;
  font-weight: $fontweight-extrabold;
  text-transform: uppercase;
}

h2 {
  color: $color-blue;
  font-size: 30px;
  font-weight: $fontweight-semibold;
  text-transform: uppercase;
}

h3 {
  color: $color-blue;
  font-size: 27px;
  font-weight: $fontweight-semibold;
}

h4 {
  color: $color-light-blue;
  font-size: 20px;
  font-weight: $fontweight-regular;
}

p {
  color: $color-blue;
  font-size: 16px;
  font-weight: $fontweight-regular;
}

a {
  color: $color-teal;
  text-decoration: none;
  transition: all .3s;

  &:hover {
    color: $color-teal-dark;
    // box-shadow: inset 0 -3px 0 $color-teal-dark;
  }
}
