$small-and-down: "only screen and (max-width : 767px)";
$large-and-down: "only screen and (max-width : 1200px)";

$font: 'Khula', sans-serif;

$fontweight-light: 300;
$fontweight-regular: 400;
$fontweight-semibold: 600;
$fontweight-bold: 700;
$fontweight-extrabold: 800;
